---
import logo from "@/assets/logo.svg";

interface Props {
  size?: number;
  variant?: "light" | "dark";
}

const { size = 20, variant = "dark" } = Astro.props;

const textColor = variant === "light" ? "text-white" : "text-dark";
---

<div class="flex items-center gap-1" style={`--logo-size:${size}px`}>
  <div
    class="flex items-center shrink-0"
    style={`width:${size}px; height:${size}px`}
  >
    <img src={logo.src} alt="Torres logo" class="block w-full h-full" />
  </div>

  <span
    translate="no"
    class={`flex items-center font-bold leading-none font-serif ${textColor}`}
    style={`font-size:${size * 1.1}px`}
  >
    torres<span class="text-primary">.</span>
  </span>
</div>
